<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer>

	<script
		th:src="@{ /assets/backend/vendor/modernizr/modernizr.custom.js }"></script>
	<!-- MATCHMEDIA POLYFILL-->
	<script th:src="@{ /assets/backend/vendor/matchMedia/matchMedia.js }"></script>
	<!-- JQUERY-->
	<script th:src="@{ /assets/backend/vendor/jquery/dist/jquery.js }"></script>
	<!-- BOOTSTRAP-->
	<script
		th:src="@{ /assets/backend/vendor/bootstrap/dist/js/bootstrap.js }"></script>
	<!-- STORAGE API-->
	<script
		th:src="@{ /assets/backend/vendor/jQuery-Storage-API/jquery.storageapi.js }"></script>
	<!-- JQUERY EASING-->
	<script src="/assets/backend/vendor/jquery.easing/js/jquery.easing.js"></script>
	<!-- ANIMO-->
	<script src="/assets/backend/vendor/animo.js/animo.js"></script>
	<!-- SLIMSCROLL-->
	<script
		src="/assets/backend/vendor/slimScroll/jquery.slimscroll.min.js"></script>
	<!-- SCREENFULL-->
	<script src="/assets/backend/vendor/screenfull/dist/screenfull.js"></script>
	<!-- LOCALIZE-->
	<script
		src="/assets/backend/vendor/jquery-localize-i18n/dist/jquery.localize.js"></script>
	<!-- RTL demo-->
	<script src="/assets/backend/js/demo/demo-rtl.js"></script>
	<!-- =============== PAGE VENDOR SCRIPTS ===============-->
	<!-- SPARKLINE-->
	<script src="/assets/backend/vendor/sparkline/index.js"></script>
	<!-- FLOT CHART-->
	<script src="/assets/backend/vendor/flot/jquery.flot.js"></script>
	<script
		src="/assets/backend/vendor/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
	<script src="/assets/backend/vendor/flot/jquery.flot.resize.js"></script>
	<script src="/assets/backend/vendor/flot/jquery.flot.pie.js"></script>
	<script src="/assets/backend/vendor/flot/jquery.flot.time.js"></script>
	<script src="/assets/backend/vendor/flot/jquery.flot.categories.js"></script>
	<script
		src="/assets/backend/vendor/flot-spline/js/jquery.flot.spline.min.js"></script>
	<!-- EASY PIE CHART-->
	<script
		src="/assets/backend/vendor/jquery.easy-pie-chart/dist/jquery.easypiechart.js"></script>
	<!-- MOMENT JS-->
	<script
		src="/assets/backend/vendor/moment/min/moment-with-locales.min.js"></script>
	<!-- DEMO-->
	<script src="/assets/backend/js/demo/demo-flot.js"></script>
	<!-- =============== APP SCRIPTS ===============-->
	<script th:src="@{ /assets/backend/js/app.js }"></script>
</footer>

</html>