<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/lan/header :: header"></head>

<body id="page-top">
	<div id="loader"></div>
	<div id="section-home">
		
		<header id="header" th:replace="fragments/lan/menu :: header"></header>
		
		<!-- BANNER STARTS
    ========================================================================= -->
		<aside class="col-xs-12 subbanner">
			<h1>About US</h1>
			<p>Lorem Ipsum is that it has a more-or-less normal distribution
				of letters.</p>
		</aside>
		<div class="clearfix"></div>
		<!-- /. BANNER ENDS
    ========================================================================= -->
		<!--section-home-->
	</div>
	<!-- ABOUT US STARTS
========================================================================= -->
	<div class="grey-color" id="about-us">
		<div class="container padding-box">
			<div class="row header">
				<article class="col-xs-12 textbox text-center">
					<h2 class="black">Design Media Since 1995</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore agna aliqua.
						Ut enim ad minim veniam, quis nostrud exercitation ullamco oris
						nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
						reprehenderi esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint ecat cupidatat non proident, sunt in culpa qui
						mollit anim id est laborum. Sed ut perspiciatis unde omnis iste
						atus error sit voluptatem accusantium doloremque laudantium, totam
						rem am, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
				</article>
			</div>
			<!--container-->
		</div>
	</div>
	<!-- ABOUT US END
========================================================================= -->
	<!-- SERVICES STARTS
========================================================================= -->
	<div class="container padding-box" id="service">
		<div class="row header">
			<article class="col-xs-12 textbox text-center">
				<h2 class="black">Our Services</h2>
				<p>Lorem Ipsum is that it has a more-or-less normal distribution
					of letters as opposed to using ontent here content here making it
					look like readable English. Many desktop publishing packages and
					web page editors now use.</p>
			</article>
			<div class="contents services-carousel">
				<div>
					<div class="col-xs-12">
						<div class="small-box1">
							<span class="fa fa-user"></span>
							<h4>Marketing</h4>
							<p>Lorem Ipsum is that it has a more-or-less normal
								distribution of It was popularised in the 1960s with the
								release.</p>
						</div>
					</div>
				</div>
				<div>
					<div class="col-xs-12">
						<div class="small-box1">
							<span class="fa fa-gear"></span>
							<h4>Development</h4>
							<p>Lorem Ipsum is that it has a more-or-less normal
								distribution of It was popularised in the 1960s with the
								release.</p>
						</div>
					</div>
				</div>
				<div>
					<div class="col-xs-12">
						<div class="small-box1">
							<span class="fa fa-search"></span>
							<h4>SEO</h4>
							<p>Lorem Ipsum is that it has a more-or-less normal
								distribution of It was popularised in the 1960s with the
								release.</p>
						</div>
					</div>
				</div>
				<div>
					<div class="col-xs-12">
						<div class="small-box1">
							<span class="fa fa-globe"></span>
							<h4>Social Media</h4>
							<p>Lorem Ipsum is that it has a more-or-less normal
								distribution of It was popularised in the 1960s with the
								release.</p>
						</div>
					</div>
				</div>
				<div>
					<div class="col-xs-12">
						<div class="small-box1">
							<span class="fa fa-search"></span>
							<h4>Social Media</h4>
							<p>Lorem Ipsum is that it has a more-or-less normal
								distribution of It was popularised in the 1960s with the
								release.</p>
						</div>
					</div>
				</div>
				<div>
					<div class="col-xs-12">
						<div class="small-box1">
							<span class="fa fa-gear"></span>
							<h4>Social Media</h4>
							<p>Lorem Ipsum is that it has a more-or-less normal
								distribution of It was popularised in the 1960s with the
								release.</p>
						</div>
					</div>
				</div>
				<div>
					<div class="col-xs-12">
						<div class="small-box1">
							<span class="fa fa-user"></span>
							<h4>Social Media</h4>
							<p>Lorem Ipsum is that it has a more-or-less normal
								distribution of It was popularised in the 1960s with the
								release.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--container-->
	</div>
	<!-- SERVICES END
========================================================================= -->
	<!-- CREATIVE TEAM STARTS
========================================================================= -->
	<div class="grey-color" id="team">
		<div class="container padding-box">
			<div class="row header">
				<article class="col-xs-12 textbox text-center">
					<h2 class="black">The Creative Team</h2>
					<p>Lorem Ipsum is that it has a more-or-less normal
						distribution of letters as opposed to using ontent here content
						here making it look like readable English. Many desktop publishing
						packages and web page editors now use.</p>
				</article>
				<div class="team-box col-xs-12">
					<aside class="team-profile col-sm-3 col-xs-12">
						<div class="image-holder">
							<img class="img-responsive" src="images/team/team-image4.jpg"
								alt="" />
							<div class="hide-info">
								<ul class="list-inline">
									<li><a href="#" class="fa fa-facebook"></a></li>
									<li><a href="#" class="fa fa-twitter"></a></li>
									<li><a href="#" class="fa fa-linkedin"></a></li>
									<li><a href="#" class="fa fa-google-plus"></a></li>
								</ul>
							</div>
						</div>
						<div class="team-info text-center">
							<h4>Rohan Deo</h4>
							<p>Director</p>
						</div>
					</aside>
					<aside class="team-profile col-sm-3 col-xs-12">
						<div class="image-holder">
							<img class="img-responsive" src="images/team/team-image1.jpg"
								alt="" />
							<div class="hide-info">
								<ul class="list-inline">
									<li><a href="#" class="fa fa-facebook"></a></li>
									<li><a href="#" class="fa fa-twitter"></a></li>
									<li><a href="#" class="fa fa-linkedin"></a></li>
									<li><a href="#" class="fa fa-google-plus"></a></li>
								</ul>
							</div>
						</div>
						<div class="team-info text-center">
							<h4>Rohan Deo</h4>
							<p>Director</p>
						</div>
					</aside>
					<aside class="team-profile col-sm-3 col-xs-12">
						<div class="image-holder">
							<img class="img-responsive" src="images/team/team-image2.jpg"
								alt="" />
							<div class="hide-info">
								<ul class="list-inline">
									<li><a href="#" class="fa fa-facebook"></a></li>
									<li><a href="#" class="fa fa-twitter"></a></li>
									<li><a href="#" class="fa fa-linkedin"></a></li>
									<li><a href="#" class="fa fa-google-plus"></a></li>
								</ul>
							</div>
						</div>
						<div class="team-info text-center">
							<h4>Rohan Deo</h4>
							<p>Director</p>
						</div>
					</aside>
					<aside class="team-profile col-sm-3 col-xs-12">
						<div class="image-holder">
							<img class="img-responsive" src="images/team/team-image3.jpg"
								alt="" />
							<div class="hide-info">
								<ul class="list-inline">
									<li><a href="#" class="fa fa-facebook"></a></li>
									<li><a href="#" class="fa fa-twitter"></a></li>
									<li><a href="#" class="fa fa-linkedin"></a></li>
									<li><a href="#" class="fa fa-google-plus"></a></li>
								</ul>
							</div>
						</div>
						<div class="team-info text-center">
							<h4>Rohan Deo</h4>
							<p>Director</p>
						</div>
					</aside>
				</div>
			</div>
			<!--container-->
		</div>
	</div>
	<!-- CREATIVE TEAM END
========================================================================= -->
	<!-- WE BUILD TRUST STARTS
========================================================================= -->
	<div class="blue-color padding-box">
		<div class="container">
			<div class="row header">
				<article class="col-xs-12 textbox text-center">
					<h2 class="white white_circle">We Build the Trust</h2>
					<p class="white">Lorem Ipsum is that it has a more-or-less
						normal distribution of letters, as opposed to using ontent here
						content here making it look like readable English. Many desktop
						publishing packages and web page editors now use.</p>
					<aside class="trustbox">
						<ul class="list-inline">
							<li>
								<div class="counter">
									<span class="fa fa-rocket"></span>
									<div class="numeric stat-count">250</div>
									DELIVERED
									<!--counter-->
								</div>
							</li>
							<li>
								<div class="counter">
									<span class="fa fa-trophy"></span>
									<div class="numeric stat-count">300+</div>
									Awards winS
									<!--counter-->
								</div>
							</li>
							<li>
								<div class="counter">
									<span class="fa fa-crosshairs"></span>
									<div class="numeric stat-count">500</div>
									TARGET ACHIEVED
									<!--counter-->
								</div>
							</li>
							<li>
								<div class="counter">
									<span class="fa fa-smile-o"></span>
									<div class="numeric stat-count">700+</div>
									Happy Clients
									<!--counter-->
								</div>
							</li>
						</ul>
					</aside>
				</article>
			</div>
			<!--container-->
		</div>
	</div>
	<!-- WE BUILD TRUST END
========================================================================= -->
	<!-- PARTNER STARTS
========================================================================= -->
	<div class="padding-box">
		<div class="container">
			<div class="row header">
				<div class="contents partner-carousel text-center">
					<div>
						<figure>
							<span><img src="images/partners/partner-logo1.png" alt=""/></span>
						</figure>
					</div>
					<div>
						<figure>
							<span><img src="images/partners/partner-logo2.png" alt=""/></span>
						</figure>
					</div>
					<div>
						<figure>
							<span><img src="images/partners/partner-logo3.png" alt=""/></span>
						</figure>
					</div>
					<div>
						<figure>
							<span><img src="images/partners/partner-logo4.png" alt=""/></span>
						</figure>
					</div>
					<div>
						<figure>
							<span><img src="images/partners/partner-logo5.png" alt=""/></span>
						</figure>
					</div>
					<div>
						<figure>
							<span><img src="images/partners/partner-logo6.png" alt=""/></span>
						</figure>
					</div>
				</div>
				<!--row-->
			</div>
			<!--container-->
		</div>
	</div>
	<!-- PARTNER END
========================================================================= -->
	<!-- SOCIAL SECTION STARTS
========================================================================= -->
	<div class="padding-box blue-color">
		<div class="container">
			<div class="row header">
				<article class="col-xs-12 social-icons text-center">
					<h2 class="white">Join The 115,000+ Satisfied Users!</h2>
					<ul class="list-inline">
						<li><a href="#"><span class="fa fa-facebook"></span>facebook</a></li>
						<li><a href="#"><span class="fa fa-twitter"></span>Twitter</a></li>
						<li><a href="#"><span class="fa fa-google-plus"></span>Google+</a></li>
						<li><a href="#"><span class="fa fa-dribbble"></span>Dribble</a></li>
						<li><a href="#"><span class="fa fa-linkedin"></span>Linkedin</a></li>
						<li><a href="#"><span class="fa fa-instagram"></span>Instagram</a></li>
					</ul>
					<!--textbox-->
				</article>
				<!--row-->
			</div>
			<!--container-->
		</div>
	</div>
	<div class="padding-box black2-color">
		<div class="container">
			<div class="row header">
				<aside class="col-sm-4 col-xs-12 small_box">
					<span class="fa fa-envelope"></span><a
						href="mailto:hello@designingmedia.com">hello@designingmedia.com</a>
				</aside>
				<aside class="col-sm-5 col-xs-12 small_box">
					<span class="fa fa-home"></span>121, King Street, Melbourne
					Victoria 3000
				</aside>
				<aside class="col-sm-3 col-xs-12 small_box">
					<span class="fa fa-phone-square"></span>(0800) 234 56789
				</aside>
				<!--row-->
			</div>
			<!--container-->
		</div>
	</div>
	<!-- SOCIAL SECTION END
========================================================================= -->

	<!-- FOOTER STARTS
========================================================================= -->	
	<footer id="footer" th:replace="fragments/lan/footer :: footer"></footer>
	<!-- FOOTER END
========================================================================= -->



</body>
</html>