<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/lan/header :: header"></head>

<body id="page-top">
	<div id="loader"></div>
	<div id="section-home">

		<header id="header" th:replace="fragments/lan/menu :: header"></header>

		<!-- BANNER STARTS
    ========================================================================= -->
		<aside class="col-xs-12 subbanner">
			<h1>Contact us</h1>
			<p>Lorem Ipsum is that it has a more-or-less normal distribution
				of letters.</p>
		</aside>
		<div class="clearfix"></div>
		<!-- /. BANNER ENDS
    ========================================================================= -->
		<!--section-home-->
	</div>
	<!-- CONTACT WITH DESIGN
========================================================================= -->
	<div class="grey-color">
		<div class="container padding-box" id="pricing">
			<div class="row">
				<article class="col-xs-12 textbox text-center">
					<h2 class="black">Contact with Design Media 24/7 Support</h2>
					<p>Lorem Ipsum is that it has a more-or-less normal
						distribution of letters, as opposed to usingable English. Many
						desktop publishing packages and web page editors now use dorem
						ontent here content here making it look like readIpsum as their d
						search for'lorem ipsum will uncover many web darious versions have
						evolved over the years.</p>
				</article>
			</div>
			<!--container-->
		</div>
		<!--grey-color-->
	</div>
	<!-- CONTACT WITH DESIGN END
========================================================================= -->
	<!-- CONTACT INFO
========================================================================= -->
	<div class="container padding-box" id="contact-info">
		<div class="row header">
			<aside class="col-sm-3 col-xs-12">
				<div class="contact-info text-center">
					<div>
						<span class="fa fa-map-marker"></span>
						<h4>Design Media</h4>
						<p>198 West 21th Street, 721, New York, NY 10010.</p>
					</div>
				</div>
			</aside>
			<aside class="col-sm-3 col-xs-12">
				<div class="contact-info text-center">
					<div>
						<span class="fa fa-phone"></span>
						<h4>Toll Free</h4>
						<p>+1 123 456 7862</p>
					</div>
				</div>
			</aside>
			<aside class="col-sm-3 col-xs-12">
				<div class="contact-info text-center">
					<div>
						<span class="fa fa-fax"></span>
						<h4>Fax</h4>
						<p>+1 123 456 7862</p>
					</div>
				</div>
			</aside>
			<aside class="col-sm-3 col-xs-12">
				<div class="contact-info text-center">
					<div>
						<span class="fa fa-envelope"></span>
						<h4>Email</h4>
						<p>
							<a href="mailto:info@designmedia.com">info@designmedia.com</a>
						</p>
					</div>
				</div>
			</aside>
		</div>
		<!--container-->
	</div>
	<!-- CONTACT INFO END
========================================================================= -->
	<!-- CONTACT FORM
========================================================================= -->
	<div class="grey-color">
		<div class="container padding-box" id="contact-form">
			<div class="row">
				<article class="col-xs-12 textbox text-center">
					<h2 class="black">Pre-Sales Inquiries</h2>
					<div class="col-sm-9 col-xs-12 inquiry-form">
						<div id="message2"></div>
						<form id="contact-page" action="contact.php" name="contactform"
							method="post">
							<ul class="list-inline">
								<li><input type="text" id="name2" class="form-control"
									placeholder="Name:" /></li>
								<li><input type="text" name="subject" id="subject2"
									class="form-control" placeholder="Subject:" /></li>
								<li><input type="text" name="email" id="email2"
									class="form-control" placeholder="Email:" /></li>
							</ul>
							<textarea class="form-control" name="comments" id="comments2"
								cols="5" rows="5" placeholder="Message:"></textarea>
							<button type="submit" id="submit2" class="btn btn-primary btn-lg"
								aria-expanded="false">Submit Now</button>
						</form>
						<!--inquiry-form"-->
					</div>
				</article>
			</div>
			<!--container-->
		</div>
		<!--grey-color-->
	</div>
	<!-- CONTACT FORM END
========================================================================= -->
	<!-- GOOGLE MAP STARTS
========================================================================= -->
	<div id="map" class="google-map"></div>
	<div class="clear"></div>
	<!-- GOOGLE MAP END
========================================================================= -->
	<!-- PARTNER STARTS
========================================================================= -->
	<div class="padding-box">
		<div class="container">
			<div class="row header">
				<div class="contents partner-carousel text-center">
					<div>
						<figure>
							<span><img src="images/partners/partner-logo1.png" alt=""/></span>
						</figure>
					</div>
					<div>
						<figure>
							<span><img src="images/partners/partner-logo2.png" alt=""/></span>
						</figure>
					</div>
					<div>
						<figure>
							<span><img src="images/partners/partner-logo3.png" alt=""/></span>
						</figure>
					</div>
					<div>
						<figure>
							<span><img src="images/partners/partner-logo4.png" alt=""/></span>
						</figure>
					</div>
					<div>
						<figure>
							<span><img src="images/partners/partner-logo5.png" alt=""/></span>
						</figure>
					</div>
					<div>
						<figure>
							<span><img src="images/partners/partner-logo6.png" alt=""/></span>
						</figure>
					</div>
				</div>
				<!--row-->
			</div>
			<!--container-->
		</div>
	</div>
	<!-- PARTNER END
========================================================================= -->
	<!-- SOCIAL SECTION STARTS
========================================================================= -->
	<div class="padding-box blue-color">
		<div class="container">
			<div class="row header">
				<article class="col-xs-12 social-icons text-center">
					<h2 class="white">Join The 115,000+ Satisfied Users!</h2>
					<ul class="list-inline">
						<li><a href="#"><span class="fa fa-facebook"></span>facebook</a></li>
						<li><a href="#"><span class="fa fa-twitter"></span>Twitter</a></li>
						<li><a href="#"><span class="fa fa-google-plus"></span>Google+</a></li>
						<li><a href="#"><span class="fa fa-dribbble"></span>Dribble</a></li>
						<li><a href="#"><span class="fa fa-linkedin"></span>Linkedin</a></li>
						<li><a href="#"><span class="fa fa-instagram"></span>Instagram</a></li>
					</ul>
					<!--textbox-->
				</article>
				<!--row-->
			</div>
			<!--container-->
		</div>
	</div>
	<div class="padding-box black2-color">
		<div class="container">
			<div class="row header">
				<aside class="col-sm-4 col-xs-12 small_box">
					<span class="fa fa-envelope"></span><a
						href="mailto:hello@designingmedia.com">hello@designingmedia.com</a>
				</aside>
				<aside class="col-sm-5 col-xs-12 small_box">
					<span class="fa fa-home"></span>121, King Street, Melbourne
					Victoria 3000
				</aside>
				<aside class="col-sm-3 col-xs-12 small_box">
					<span class="fa fa-phone-square"></span>(0800) 234 56789
				</aside>
				<!--row-->
			</div>
			<!--container-->
		</div>
	</div>
	<!-- SOCIAL SECTION END
========================================================================= -->

	<!-- FOOTER STARTS
========================================================================= -->	
	<footer id="footer" th:replace="fragments/lan/footer :: footer"></footer>
	<!-- FOOTER END
========================================================================= -->


	

</body>
</html>