<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/lan/header :: header"></head>

<body id="page-top">
	<div id="loader"></div>
	<div id="section-home">

		<header id="header" th:replace="fragments/lan/menu :: header"></header>


		<!-- BANNER STARTS
    ========================================================================= -->
		<aside class="col-xs-12 subbanner">
			<h1>Plans and pricing</h1>
			<p>Lorem Ipsum is that it has a more-or-less normal distribution
				of letters.</p>
		</aside>
		<!-- /. BANNER ENDS
    ========================================================================= -->
		<div class="clearfix"></div>
		<!--section-home-->
	</div>
	<!-- PLANS PRICING STARTS
========================================================================= -->
	<div class="grey-color">
		<div class="container padding-box" id="pricing">
			<div class="row header">

				<article class="col-xs-12 textbox plan-pricing text-center">
					<h2 class="black">Choose You Best Pricing Plans</h2>
					<p>Lorem Ipsum is that it has a more-or-less normal
						distribution of letters as opposed to using ontent here content
						here making it look like readable English. Many desktop publishing
						packages and web page editors now use.</p>
					<aside class="col-xs-12 col-sm-4">
						<div class="col-sm-12 plan-detail">
							<ul class="list-group">
								<li>Lorem ipsum<a class="toll-tip fa fa-info-circle"
									href="#" data-toggle="tooltip" data-placement="left"
									title="Tooltip on left"></a></li>
								<li>Adipiscing elit praesent<a
									class="toll-tip fa fa-info-circle" href="#"
									data-toggle="tooltip" data-placement="left"
									title="Tooltip on left"></a></li>
								<li>Molestie lacus denean<a
									class="toll-tip fa fa-info-circle" href="#"
									data-toggle="tooltip" data-placement="left"
									title="Tooltip on left"></a></li>
								<li>Hendrerit mauris<a class="toll-tip fa fa-info-circle"
									href="#" data-toggle="tooltip" data-placement="left"
									title="Tooltip on left"></a></li>
								<li>Lorem ipsum dolor sit amet<a
									class="toll-tip fa fa-info-circle" href="#"
									data-toggle="tooltip" data-placement="left"
									title="Tooltip on left"></a></li>
								<li>Adipiscing elit praesent<a
									class="toll-tip fa fa-info-circle" href="#"
									data-toggle="tooltip" data-placement="left"
									title="Tooltip on left"></a></li>
								<li>Vestibulum<a class="toll-tip fa fa-info-circle"
									href="#" data-toggle="tooltip" data-placement="left"
									title="Tooltip on left"></a></li>
								<li>Nonummy hendrerit<a class="toll-tip fa fa-info-circle"
									href="#" data-toggle="tooltip" data-placement="left"
									title="Tooltip on left"></a></li>
							</ul>
						</div>
					</aside>
					<aside class="col-xs-12 col-sm-3">
						<div class="col-sm-12 plan1">
							<h3>PLATINUM</h3>
							<div class="pakage_price">
								<span class="doller">$</span><span class="numeric">48</span><span
									class="blue">.99</span>/mo
							</div>
							<ul>
								<li>Lorem ipsum</li>
								<li>Adipiscing elit praesent</li>
								<li>Molestie lacus denean</li>
								<li>Hendrerit mauris</li>
								<li>Lorem ipsum dolor sit amet</li>
								<li>Adipiscing elit praesent</li>
								<li>Vestibulum</li>
								<li>Nonummy hendrerit</li>
							</ul>
							<button aria-expanded="false" class="btn btn-primary btn-lg"
								type="button">Order Now</button>
						</div>
					</aside>
					<aside class="col-xs-12 col-sm-3">
						<div class="col-sm-12 plan1">
							<h3>GOLD</h3>
							<div class="pakage_price">
								<span class="doller">$</span><span class="numeric">48</span><span
									class="blue">.99</span>/mo
							</div>
							<ul>
								<li>Dolor sit amet</li>
								<li>Consuer adipiscing</li>
								<li>Vestibulum molestie</li>
								<li>Nonummy hendrerit mauris</li>
								<li>Adipiscing elit praesent</li>
								<li>Vestibulum molestie</li>
								<li>Nonummy hendrerit</li>
								<li>Nonummy hendrerit</li>
							</ul>
							<button aria-expanded="false" class="btn btn-primary btn-lg"
								type="button">Order Now</button>
						</div>
					</aside>
					<aside class="col-xs-12 col-sm-3">
						<div class="col-sm-12 plan1">
							<h3>Plus</h3>
							<div class="pakage_price">
								<span class="doller">$</span><span class="numeric">48</span><span
									class="blue">.99</span>/mo
							</div>
							<ul>
								<li>Lorem ipsum</li>
								<li>Adipiscing elit praesent</li>
								<li>Molestie lacus denean</li>
								<li>Hendrerit mauris</li>
								<li>Lorem ipsum dolor sit amet</li>
								<li>Adipiscing elit praesent</li>
								<li>Vestibulum</li>
								<li>Nonummy hendrerit</li>
							</ul>
							<button aria-expanded="false" class="btn btn-primary btn-lg"
								type="button">Order Now</button>
						</div>
					</aside>
				</article>
			</div>
			<!--container-->
		</div>
	</div>
	<!-- PLANS PRICING END
========================================================================= -->
	<!-- WHY CHOOSE US STARTS
========================================================================= -->
	<div class="blue-color padding-box">
		<div class="container">
			<div class="row header">
				<article class="col-xs-12 textbox text-center">
					<h2 class="white white_circle">Why Choose Us</h2>
					<p class="white">Lorem Ipsum is that it has a more-or-less
						normal distribution of letters, as opposed to using ontent here
						content here making it look like rea able snglish. Many desktop
						publishing packages and web page editors now use.</p>
					<div class="thumbnail-box">
						<ul class="list-inline">
							<li><a href="#"><span class="fa fa-envelope"></span>Contact</a></li>
							<li><a href="#"><span class="fa fa-comments"></span>Discus</a></li>
							<li><a href="#">
									<div class="new_tag"></div> <span class="fa fa-briefcase"></span>Professional
							</a></li>
							<li><a href="#"><span class="fa fa-flash"></span>Get
									Idea</a></li>
							<li><a href="#"><span class="fa fa-gears"></span>Development</a></li>
							<li><a href="#"><span class="fa fa-comment"></span>Comments</a></li>
							<li><a href="#">
									<div class="new_tag hot_tag"></div> <span class="fa fa-trophy"></span>Complete
							</a></li>
							<li><a href="#">
									<div class="new_tag"></div> <span class="fa fa-diamond"></span>Quality
							</a></li>
							<li><a href="#"><span class="fa fa-rocket"></span>Deliver</a></li>
						</ul>
					</div>
					<button aria-expanded="false" class="btn transparent-btn"
						type="button">Read More</button>
				</article>
			</div>
			<!--container-->
		</div>
	</div>
	<!-- WHY CHOOSE US END
========================================================================= -->
	<!-- PARTNER STARTS
========================================================================= -->
	<div class="padding-box">
		<div class="container">
			<div class="row header">
				<div class="contents partner-carousel text-center">
					<div>
						<figure>
							<span><img src="images/partners/partner-logo1.png" alt=""/></span>
						</figure>
					</div>
					<div>
						<figure>
							<span><img src="images/partners/partner-logo2.png" alt=""/></span>
						</figure>
					</div>
					<div>
						<figure>
							<span><img src="images/partners/partner-logo3.png" alt=""/></span>
						</figure>
					</div>
					<div>
						<figure>
							<span><img src="images/partners/partner-logo4.png" alt=""/></span>
						</figure>
					</div>
					<div>
						<figure>
							<span><img src="images/partners/partner-logo5.png" alt=""/></span>
						</figure>
					</div>
					<div>
						<figure>
							<span><img src="images/partners/partner-logo6.png" alt=""/></span>
						</figure>
					</div>
				</div>
				<!--row-->
			</div>
			<!--container-->
		</div>
	</div>
	<!-- PARTNER END
========================================================================= -->
	<!-- SOCIAL SECTION STARTS
========================================================================= -->
	<div class="padding-box blue-color">
		<div class="container">
			<div class="row header">
				<article class="col-xs-12 social-icons text-center">
					<h2 class="white">Join The 115,000+ Satisfied Users!</h2>
					<ul class="list-inline">
						<li><a href="#"><span class="fa fa-facebook"></span>facebook</a></li>
						<li><a href="#"><span class="fa fa-twitter"></span>Twitter</a></li>
						<li><a href="#"><span class="fa fa-google-plus"></span>Google+</a></li>
						<li><a href="#"><span class="fa fa-dribbble"></span>Dribble</a></li>
						<li><a href="#"><span class="fa fa-linkedin"></span>Linkedin</a></li>
						<li><a href="#"><span class="fa fa-instagram"></span>Instagram</a></li>
					</ul>
					<!--textbox-->
				</article>
				<!--row-->
			</div>
			<!--container-->
		</div>
	</div>
	<div class="padding-box black2-color">
		<div class="container">
			<div class="row header">
				<aside class="col-sm-4 col-xs-12 small_box">
					<span class="fa fa-envelope"></span><a
						href="mailto:hello@designingmedia.com">hello@designingmedia.com</a>
				</aside>
				<aside class="col-sm-5 col-xs-12 small_box">
					<span class="fa fa-home"></span>121, King Street, Melbourne
					Victoria 3000
				</aside>
				<aside class="col-sm-3 col-xs-12 small_box">
					<span class="fa fa-phone-square"></span>(0800) 234 56789
				</aside>
				<!--row-->
			</div>
			<!--container-->
		</div>
	</div>
	<!-- SOCIAL SECTION END
========================================================================= -->
		<!-- FOOTER STARTS
========================================================================= -->	
	<footer id="footer" th:replace="fragments/lan/footer :: footer"></footer>
	<!-- FOOTER END
========================================================================= -->

</body>
</html>